#sidebar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  box-sizing: border-box;
  box-shadow: rgba(149, 157, 165, 0.6) 0px 1px 3px;
  padding: 5px;
  margin-left: 5px;
  border-radius: 10px;
  z-index: 1;
}
#top_quakes_inputs {
  height: auto;
  margin-bottom: 5px;
}
#top_quakes {
  max-height: 50vh;
  overflow: auto;
}
.quake-container:hover {
    background-color: gainsboro;
    cursor: pointer;
}
#map, #content {
  border-radius: 10px;
  margin-right: 10px;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
#footer{
  padding-left: 5px;
  text-align: center;
}
.root-54{
  font-size: 20px;
}

#progress1.progress-bar-success{
  background-color: #FEC601;
}
#progress2.progress-bar-success{
  background-color: #E60096;
}
#progress3.progress-bar-success{
  background-color: #DD052C;
}
#progress4.progress-bar-success{
  background-color: #014A99;
}
#progress5.progress-bar-success{
  background-color: #008F71;
}
#progress6.progress-bar-success{
  background-color: #8884BF;
}
#progress7.progress-bar-success{
  background-color: #F28D01;
}
#progress8.progress-bar-success{
  background-color: #82CEE6;
}
#progress9.progress-bar-success{
  background-color: #B8804F;
}
#progress10.progress-bar-success{
  background-color: #B7DD79;
}
